{% extends 'base.html' %}
{% block content %}
<!DOCTYPE html>
<html lang="en-US">
  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Resume Builder</title>
    <link href="https://fonts.googleapis.com/css?family=Montserrat:400,700,200" rel="stylesheet">
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/latest/css/font-awesome.min.css" rel="stylesheet">
    <link href="css/aos.css?ver=1.1.0" rel="stylesheet">
    <link href="css/bootstrap.min.css?ver=1.1.0" rel="stylesheet">
    <link href="css/main.css?ver=1.1.0" rel="stylesheet">
    <noscript>
      <style type="text/css">
        [data-aos] {
            opacity: 1 !important;
            transform: translate(0) scale(1) !important;
        }
      </style>
    </noscript>
  </head>
  <body id="top">
    <header>
      <div class="profile-page sidebar-collapse">
        <nav class="navbar navbar-expand-lg fixed-top navbar-transparent bg-secondary " color-on-scroll="400">
          <div class="container">
            <div class="navbar-translate"><a class="navbar-brand" href="/" rel="tooltip"><strong> Resume Builder Web App</strong></a>
              <button class="navbar-toggler navbar-toggler" type="button" data-toggle="collapse" data-target="#navigation" aria-controls="navigation" aria-expanded="false" aria-label="Toggle navigation"><span class="navbar-toggler-bar bar1"></span><span class="navbar-toggler-bar bar2"></span><span class="navbar-toggler-bar bar3"></span></button>
            </div>
            <div class="collapse navbar-collapse justify-content-end" id="navigation">
              <ul class="navbar-nav">
                <li class="nav-item"><a class="nav-link smooth-scroll" href="#about">About</a></li>
                <li class="nav-item"><a class="nav-link smooth-scroll" href="#skill">Skills</a></li>
                <li class="nav-item"><a class="nav-link smooth-scroll" href="#portfolio">Portfolio</a></li>
                <li class="nav-item"><a class="nav-link smooth-scroll" href="#experience">Experience</a></li>
                <li class="nav-item"><a class="nav-link smooth-scroll" href="#contact">Contact</a></li>
              </ul>
            </div>
          </div>
        </nav>
      </div>
    </header>
    <div class="page-content">
      <div>
<div class="profile-page mt-5">
  <div class="wrapper ">
    <div class="page-header page-header-small" filter-color="green">
      <div class="page-header-image" data-parallax="true" style="background-image: url('images/cc-bg-1.jpg')"></div>
      <div class="container">
        <div class="content-center" style="margin-top: 85px;">
          <!-- <div class="cc-profile-image"><a href="#"><img src="images/anthony.jpg" alt="Image"/></a></div> -->
          <div class="h2 title mt-4">{{data.fname}} {{data.lname}}</div>
          <p class="category text-black" href="#contact"><strong>{{data.designation}}</strong></p>
        </div>
      </div>
      <div class="section">
        <div class="container">
          <div class="button-container"><a class="btn btn-default btn-round btn-lg btn-icon" href="#" rel="tooltip" title="Follow me on Facebook"><i class="fa fa-facebook"></i></a><a class="btn btn-default btn-round btn-lg btn-icon" href="#" rel="tooltip" title="Follow me on Twitter"><i class="fa fa-twitter"></i></a><a class="btn btn-default btn-round btn-lg btn-icon" href="#" rel="tooltip" title="Follow me on Google+"><i class="fa fa-google-plus"></i></a><a class="btn btn-default btn-round btn-lg btn-icon" href="#" rel="tooltip" title="Follow me on Instagram"><i class="fa fa-instagram"></i></a></div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="section" id="about">
  <div class="container">
    <div class="card" data-aos="fade-up" data-aos-offset="10">
      <div class="row">
        <div class="col-lg-6 col-md-12">
          <div class="card-body">
            <div class="h4 mt-0 title">About</div>
            <p>Hello! I am {{data.fname}} {{data.lname}}. {{data.designation}}.</p>
            <p>{{data.about}}</p>
          </div>
        </div>
        <div class="col-lg-6 col-md-12">
          <div class="card-body">
            <div class="h4 mt-0 title">Basic Information</div>
            <div class="row">
              <div class="col-sm-4"><strong class="text-uppercase">Age:</strong></div>
              <div class="col-sm-8">{{data.age}}</div>
            </div>
            <div class="row mt-3">
              <div class="col-sm-4"><strong class="text-uppercase">Email:</strong></div>
              <div class="col-sm-8">{{data.email}}</div>
            </div>
            <div class="row mt-3">
              <div class="col-sm-4"><strong class="text-uppercase">Phone:</strong></div>
              <div class="col-sm-8">{{data.phone}}</div>
            </div>
            <div class="row mt-3">
              <div class="col-sm-4"><strong class="text-uppercase">Address:</strong></div>
              <div class="col-sm-8">{{data.address}}</div>
            </div>
            <div class="row mt-3">
              <div class="col-sm-4"><strong class="text-uppercase">Language:</strong></div>
              <div class="col-sm-8">{{data.language}}</div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="section" id="skill">
    <div class="container">
      <div class="h3 text-center mb-4 title mt-3"><strong>Professional Skills</strong> </div>
      <div class="card" data-aos="fade-up" data-aos-anchor-placement="top-bottom">
        <div class="card-body">
          <div class="row">
            <div class="col-md-6">
              <div class="progress-container progress-primary"><span class="progress-badge">{{skill.skill1}}</span>
                <div class="progress">
                    <div class="progress-bar" role="progressbar" style="width: {{skill.range1}}%;" aria-valuenow="{{skill.range1}}%" aria-valuemin="0" aria-valuemax="100">{{skill.range1}}%</div>
                </div>
              </div>
            </div>
            <div class="col-md-6">
              <div class="progress-container progress-primary"><span class="progress-badge">{{skill.skill2}}</span>
                <div class="progress">
                    <div class="progress-bar" role="progressbar" style="width: {{skill.range2}}%;" aria-valuenow="{{skill.range2}}%" aria-valuemin="0" aria-valuemax="100">{{skill.range2}}%</div>
                </div>
              </div>
            </div>
          <div class="row">
            <div class="col-md-6">
              <div class="progress-container progress-primary"><span class="progress-badge">{{skill.skill3}}</span>
                <div class="progress">
                    <div class="progress-bar" role="progressbar" style="width: {{skill.range3}}%;" aria-valuenow="{{skill.range3}}%" aria-valuemin="0" aria-valuemax="100">{{skill.range3}}%</div>
                </div>
              </div>
            </div>
            <div class="col-md-6">
              <div class="progress-container progress-primary"><span class="progress-badge">{{skill.skill4}}</span>
                <div class="progress">
                    <div class="progress-bar" role="progressbar" style="width: {{skill.range4}}%;" aria-valuenow="{{skill.range4}}%" aria-valuemin="0" aria-valuemax="100">{{skill.range4}}%</div>
                </div>
              </div>
            </div>
          </div>
          </div>
        </div>
      </div>
    </div>
</div>
            
<div class="section" id="experience">
  <div class="container cc-experience">
    <div class="h3 text-center mb-4 title mt-4"><strong>Work Experience</strong> </div>
    <div class="card">
      <div class="row">
        <div class="col-md-3 bg-primary" data-aos="fade-right" data-aos-offset="50" data-aos-duration="500">
          <div class="card-body cc-experience-header">
            <p>{{work.duration1}}</p>
            <div class="h5">{{work.company1}}</div>
          </div>
        </div>
        <div class="col-md-9" data-aos="fade-left" data-aos-offset="50" data-aos-duration="500">
          <div class="card-body">
            <div class="h5">{{work.role1}}</div>
            <p>{{work.role_desc1}}</p>
          </div>
        </div>
      </div>
    </div>
    <div class="card">
      <div class="row">
        <div class="col-md-3 bg-primary" data-aos="fade-right" data-aos-offset="50" data-aos-duration="500">
          <div class="card-body cc-experience-header">
            <p>{{work.duration2}}</p>
            <div class="h5">{{work.company2}}</div>
          </div>
        </div>
        <div class="col-md-9" data-aos="fade-left" data-aos-offset="50" data-aos-duration="500">
          <div class="card-body">
            <div class="h5">{{work.role2}}</div>
            <p>{{work.role_desc2}}</p>
          </div>
        </div>
      </div>
    </div>
    <div class="card">
      <div class="row">
        <div class="col-md-3 bg-primary" data-aos="fade-right" data-aos-offset="50" data-aos-duration="500">
          <div class="card-body cc-experience-header">
            <p>{{work.duration3}}</p>
            <div class="h5">{{work.company3}}</div>
          </div>
        </div>
        <div class="col-md-9" data-aos="fade-left" data-aos-offset="50" data-aos-duration="500">
          <div class="card-body">
            <div class="h5">{{work.role3}}</div>
            <p>{{work.role_desc3}}</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="section">
  <div class="container cc-education">
    <div class="h3 text-center mb-4 title mt-4"><h3><strong> Education</strong></h3></div>
    <div class="card">
      <div class="row">
        <div class="col-md-3 bg-primary" data-aos="fade-right" data-aos-offset="50" data-aos-duration="500">
          <div class="card-body cc-education-header">
            <p>{{education.course_duration1}}</p>
            <div class="h5">{{education.degree1}}</div>
          </div>
        </div>
        <div class="col-md-9" data-aos="fade-left" data-aos-offset="50" data-aos-duration="500">
          <div class="card-body">
            <div class="h5">{{education.course1}}</div>
            <p class="category">{{education.university1}}</p>
            <p>{{education.course_desc1}}</p>
          </div>
        </div>
      </div>
    </div>
    <div class="card">
      <div class="row">
        <div class="col-md-3 bg-primary" data-aos="fade-right" data-aos-offset="50" data-aos-duration="500">
          <div class="card-body cc-education-header">
            <p>{{education.course_duration2}}</p>
            <div class="h5">{{education.degree2}}</div>
          </div>
        </div>
        <div class="col-md-9" data-aos="fade-left" data-aos-offset="50" data-aos-duration="500">
          <div class="card-body">
            <div class="h5">{{education.course2}}</div>
            <p class="category">{{education.university2}}</p>
            <p>{{education.course_desc2}}</p>
          </div>
        </div>
      </div>
    </div>
    <div class="card">
      <div class="row">
        <div class="col-md-3 bg-primary" data-aos="fade-right" data-aos-offset="50" data-aos-duration="500">
          <div class="card-body cc-education-header">
            <p>{{education.course_duration3}}</p>
            <div class="h5">{{education.degree3}}</div>
          </div>
        </div>
        <div class="col-md-9" data-aos="fade-left" data-aos-offset="50" data-aos-duration="500">
          <div class="card-body">
            <div class="h5">{{education.course3}}</div>
            <p class="category">{{education.university3}}</p>
            <p>{{education.course_desc3}}</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>


    
    <script src="js/core/jquery.3.2.1.min.js?ver=1.1.0"></script>
    <script src="js/core/popper.min.js?ver=1.1.0"></script>
    <script src="js/core/bootstrap.min.js?ver=1.1.0"></script>
    <script src="js/now-ui-kit.js?ver=1.1.0"></script>
    <script src="js/aos.js?ver=1.1.0"></script>
    <script src="scripts/main.js?ver=1.1.0"></script>
  </body>
</html>




</div>
{% endblock content %}